
 .zoomin img { height: 100px; 
 width:  100px; 
 -webkit-transition: all 2s ease;
 -moz-transition: all 2s ease; 
 -ms-transition: all 2s ease;
 transition: all 2s ease; 
 } 
 .zoomin img:hover { 
 width: 200px; height: 200px; 
 } 