
.records .col-sm-6.col-xs-12.panel.panel-default {
    /* padding: 5px 10px; */
    /* border: 1px solid #ccc; */
    /* background: #f5f5f5; */
    /* margin-bottom: 1px; */
    box-shadow: 0 0;
}

.panel-default>.panel-heading {
    color: #34495e;
    background-color: #17c4bb;
    border-color: #ddd;
}

form.form-inline.level_details .form-group {
    margin: 5px 1px;
}
form.form-inline.level_details .form-group {
    width: 16.05%;
}
.panel.panel-default span.label.label-info, .panel.panel-default span.label.label-warning {
    font-size: 17px;
    text-transform: capitalize;
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 20px;
    line-height: 23px;
    color: #fff;
}
.panel-body span.label.label-warning {
    background: #17c4bb;
}
.panel-body span.label.label-info {
    background: #3289c8;
}
.col-sm-6.col-sm-offset-2.col-xs-12.no-pad {
    margin-top: 30px !important;
}

.panel-heading.text-center {
    display: flex;
}

.panel-heading.text-center .col-sm-2.pull-right {
    float: right;
}

.panel-heading.text-center span.col-sm-7.text-center {
    font-size: 22px;
    text-align: left;
}
