@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);


body {
    background: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    color:#333;
	font-size:14px;
    line-height: 22px;
	margin:0px;
	padding:0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400; 
    font-family: 'Roboto', sans-serif;
    color:#333;
}
.hidden-xs{display:none;}
.hidden-sm{display:none;}

.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mt5{margin-top:5px;}
.mt10{margin-top:12px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt50{margin-top:50px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb25{margin-bottom:25px;}
.pad70{padding-top:70px;}
.pad15{padding:15px !important;}
.np{padding:0px !important;}
.nm{margin:0px !important;}

a {
    color: #333;
    -webkit-transition: color 300ms, background-color 300ms;
    -moz-transition: color 300ms, background-color 300ms;
    -o-transition:  color 300ms, background-color 300ms;
    transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
    color: #14aad5;
	text-decoration:none;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}
.clearfix {
    clear:both !important;
}

/*Header*/

#header{
    display: inline-block;
    width:100%;
	background:#367fa8;
	border-bottom: none;
	box-shadow:0px 0px 5px 5px rgba(0, 0, 0, 0.20)
}
.header_bg{background-color:#f2f6f9;}
.navbar-inverse {
    background-color:transparent !important;
    border-color:transparent !important;
}
.navbar {
    min-height: 100px;
    margin-bottom:0px;
}
.logo-brand {
    padding:6px 0;
	color:#FFF;
	text-transform:uppercase;
	font-size:22px;
}
.logo-brand a {
	color:#FFF;
}
.logo-brand img {
    margin-right:15px;
}
.user-profile{
	padding:30px 0 10px;
	float:right;	
}
.user-profile a{
	color:#FFF;	
}

/** login Page**/
.login_bg {
	background:url(../images/bg.jpg) top center;
	height:100vh;
	width:100%;
	background-size:cover;
}
.login_bg_height {
	min-height:850px;
}
.login_bg .login_panel {
	background:#FFF;
	width:730px;
	margin:20% auto 0;
	box-shadow:0px 0px 15px rgba(0,0,0,0.5);
}
.login_bg .register_panel {
	background:#FFF;
	width:540px;
	margin:20px auto 0;
	box-shadow:0px 0px 15px rgba(0,0,0,0.5);
}
.login_bg .login_panel .logo_content {
	background:url(../images/login_left_img.jpg) no-repeat top center;
	width:100%;
	padding:15px !important;
	text-align:center;
	color:#FFF;
	background-size:cover;
}
.login_bg .login_panel .register_panel .logo_content p {
	font-size:15px;
	text-transform:uppercase;
	padding:15px 0;
}
.login_bg .login_panel .logo_content .login_short_desc {
	background:rgba(0,0,0,0.3);
	padding:15px 10px;
	margin-top:20px;
}
.login_bg .login_panel .login_area {
	padding:15px !important;
}
.login_bg .login_panel .login_area h1 {
	font-weight:300;
	font-size:22px;
	color:#25557a;
	text-transform:uppercase;
	margin: 15px 0 25px;
	background:url(../images/separtor.png) no-repeat left bottom;
	padding-bottom:15px;
}
.login_bg .login_panel .login_area p {
	font-size:12px;
	text-align:right;
	margin-top:-15px;
	color:#7498ae;
}
.login_field {
    border-bottom: 1px solid #b2b2b2 !important;
    padding: 6px 10px 8px;
    color: #307ea9 !important;
    width: 100%;
    border-radius: 0px;
    outline:none;
	background:#FFF;
	margin-bottom:10px;
	box-shadow:none;
	border:none;
}
.login_field:focus {
	border-color: #307ea9 !important;
	box-shadow:none !important;;
}
.login_btn {
	background:#56b04a;
	border-radius:20px;
	text-transform:uppercase;
	font-size:18px;
	font-weight:400;
	color:#FFF;
	padding:5px 25px;
	margin-right:15px;
	border:none;
}
.login_btn:hover {
	background:#479d3b;
	color:#FFF;
}
.login_btn:focus {
	color:#FFF;
	outline:none !important;
}
.register_btn {
	background:#4580a1;
	border-radius:20px;
	text-transform:uppercase;
	font-size:18px;
	font-weight:400;
	color:#FFF;
	padding:5px 25px;
	margin-right:15px;
	border:none;
}
.register_btn:hover {
	background:#326e8f;
	color:#FFF;
}
.register_btn:focus {
	color:#FFF;
	outline:none !important;
}

.select-down-new{
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	background:url(../images/drop_arrow.png) no-repeat right 5px center;
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
	cursor:pointer;
	text-transform:uppercase;
	color:#333 !important;
}

/** Home Page**/

.main_body{
	position:relative;
	padding:70px 0 50px;
}
.home_thumbnail{
	border:1px solid #e6e6e6;
	background:#FFF;
	padding:15px;	
	min-height:475px;
	margin-bottom:30px;
}
.home_thumbnail2{
	min-height:310px;
}
.home_thumbnail h1{
	background:url(../images/separtor.png) no-repeat left bottom;
	font-size:22px;
	color:#25557a;
	font-weight:300;
	margin:0px;
	margin-bottom:15px;
	padding-bottom:15px;
}
.exam_dropdown{
	position:absolute;
	width:80px;
	top: 10px;
    right: 30px;
	background: #f7f7f7;
    height: 35px;
}
.border_color1{
	border-top:2px solid #f66955;
}
.border_color2{
	border-top:2px solid #00abd6;
}
.border_color3{
	border-top:2px solid #00a65a;
}
.border_color4{
	border-top:2px solid #f39c11;
}
.border_none{
	border:none !important;	
}

.scrollbar{
	width:100%;
	float: left;
	height: 380px;
	overflow-y: scroll;
	margin-bottom: 10px;
}
.scrollbar2{
	height: 220px;
}
#scroll_style::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#scroll_style::-webkit-scrollbar{
	width: 8px;
	background-color: #F5F5F5;
}
#scroll_style::-webkit-scrollbar-thumb{
	background-color: #6095b3;
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

.thumb_panel{
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #e7e7e7;
}
.thumb_panel .thumb_img{
	width:100px;
	height:100px;
}
.thumb_panel .thumb_img img{
	width:100%;
	height:100%;
}
.thumb_panel .thumb_txt{
	position:relative;
	width:65%;
	float:left;
	font-size:16px;
	font-weight:400;
	margin-left:15px;
}
.thumb_panel .thumb_txt2{
	width:74%;
}
.news_readmore{
	color:#4580a1;
	font-size:14px;
	text-decoration:underline;
}
.thumb_panel .thumb_txt span{
	font-size:14px;
	font-weight:300;
	color:#333;
}
.thumb_panel .thumb_txt span i{
	color:#666;
	margin-right:5px;
}
.thumb_panel .test_tag{
	width:40px;
	float:left;
	font-size:14px;
	font-weight:700;
	margin: 0 0 0 10px;
	background:#47b53b;
	padding:0 10px;
	text-align:center;
	border-radius:5px;
	color:#FFF;
}
.thumb_panel .price_tag{
	position:absolute;
	width:61px;
	height:61px;
	top:0px;
	right:0px;
	font-size:13px;
	font-weight:500;
	line-height:18px;
	background:url(../images/price_tag.png) no-repeat;
	text-align:center;
	padding-top:10px;
}
.news_calender{
	font-weight:500;
	line-height:22px;
	background:url(../images/calender.png) no-repeat;
	text-align:center;
	padding-top:2px;
	color:#FFF;
	font-size:16px;
}
.news_calender span{
	color:#11415c;
	font-size:14px;
}
.blue_btn{
	font-weight:300;
	font-size:14px;	
}
.green_btn{
	font-weight:300;
	font-size:14px;	
}
.blue_txt{
	color:#4580a1;	
}
.wid100{
	width:100%	
}
.profile{
	position:relative;
	padding:0 15px;
}
.profile h1{
	background:url(../images/separtor.png) no-repeat left bottom;
	font-size:18px;
	color:#25557a;
	font-weight:400;
	text-transform:uppercase;
	margin:0px;
	margin-bottom:50px;
	padding-bottom:15px;
}
.profile .profile_tab{
	background:#4aa8b0;
	padding:10px 15px;
	text-transform:uppercase;
	font-weight:400;
	font-size:16px;
	color:#FFF;	
}
.profile .profile_tab span{
	text-transform:none;
	font-weight:400;
	font-size:14px;
	float:right;
}
.profile .profile_tab a{
	color:#FFF;
}
.profile .profile_details{
	background:#FFF;
	border:1px solid #DDD;
	margin-bottom:10px;
	padding:25px 0;
}
.profile .profile_details .form-group{
	margin-bottom:0px;
}
.profile .profile_details .form-group label{
	font-size:15px;
	font-weight:400;
}
.profile .profile_details .form-control {
    border: 1px solid #ddd !important;
	padding:10px;
    color: #333 !important;
	height:42px;
}
.profile .profile_details .form-control:focus {
	border-color: #307ea9 !important;
	box-shadow:none !important;
}
.profile .profile_details .profile_view_txt {
	color:#888;
	margin-bottom:20px;
}
textarea.form-control {
    height: auto !important;
}
.red_btn{
	font-weight:300;
	font-size:14px;
	background:#dd3838;	
}
.red_btn:hover{
	background:#cd2424;	
}
.report_text {
	padding-left:0px;
	list-style-type:none;
	margin-bottom:40px;
}
.report_text li{
	display:inline-block;
	margin-right:15px;
	vertical-align:top;
	font-weight:600;
	font-size:15px;
}
.report_text li span{
	color:#25557a;
}
.report_text p{
	font-weight:400;
	margin-bottom:5px;
}
.report_text p span{
	font-weight:700;
}
.report_text .green_txt{
	color:#50a632;
	font-size:18px;
	font-weight:700;
}
.tble_clr1 th{
    color: #FFF;
    background: #004886;
	text-transform:uppercase;
	font-weight:400;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th, .table-bordered>tbody>tr>td {
    padding:12px 15px;
}
.tble_clr2 th {
    color: #FFF;
    background: #4aa8b0;
	text-transform:uppercase;
	font-weight:400;
	text-align:center;
}
.tble_blue_txt {
    color: #4682a3;
	font-weight:700;
}
.tble_red_txt {
    color: #d00707;
	font-weight:700;
}
.tble_grn_txt {
    color: #60ac48;
	font-weight:700;
}
.tble_idle_txt {
    color: #f57d34;
	font-weight:700;
}
.exam_question{
	position:relative;
}
.exam_timer{
	text-align:right;
	margin-top:-30px;
	color:#367fa8;
	font-size:16px;
}
.exam_timer span{
	text-align:center;
	padding:3px 10px;
	color:#FFF;
	font-size:14px;
	background:#f38829;
	margin-right:10px;
	border-radius:5px;
}
.exam_question .examquestion_module{
	background:#FFF;
	border:1px solid #ddd;
	margin:15px 0 0;
}
.exam_title{
	background:#4aa8b0;
	color:#FFF;
	font-size:18px;
	margin:0;
	padding:12px 15px;
	list-style-type:none;
	min-height:55px;
}
.exam_title li{
	display:inline-block;
}
.exam_title li span{
	font-size:14px;
	padding-left:20px;
}
.exam_question .examquestion_module .question_module{
	padding:25px 15px 25px;
	min-height:500px;
	background:#FFF;
}
.exam_question .examquestion_module .question_module p span{
	color:#367fa8;
	font-weight:700;
}
.exam_question .examquestion_module .question_module .checkbox{
	margin-left:20px;
}
.btn_grp{
	margin-bottom:15px;
}
.btn_grp .btn{
	border:2px solid #f38829;
	color:#ca6d1a;
	background:#FFF;
	text-transform:none;
	padding:5px 15px;
	margin-top:15px;
}
.btn_grp .btn:hover{
	color:#FFF;
	background:#f38829;
}
.btn_grp .btn2{
	border:2px solid #4580a1;
	color:#4580a1;
	background:#FFF;
	text-transform:none;
	padding:5px 15px;
	margin-top:15px;
}
.btn_grp .btn2:hover{
	color:#FFF;
	background:#4580a1;
}
.exam_question .examquestion_module .question_module .qstn_number{
	padding-left:0px;
}
.exam_question .examquestion_module .question_module .qstn_number li{
	height:36px;
	width:36px;	
	border-radius:50%;
	background:#dadada;
	text-align:center;
	list-style-type:none;
	display:inline-block;
	line-height:36px;
	margin: 0 3px 10px 0;
}
.exam_question .examquestion_module .question_module .qstn_number .active{
	
	background:#FFA500;
	color:#FFF;
}.exam_question .examquestion_module .question_module .qstn_number .selected{
	background:#56b04a;
	color:#FFF;
}

/* Footer */

#footer{
	background:#222;
	clear:both;
	color:#909090;
	text-align:center;
	height:60px;
	padding:20px 0;
}

/** Cart **/

.cart{
	position:relative;
}
.cart h1{
	background:url(../images/separtor.png) no-repeat left bottom;
	font-size:18px;
	color:#25557a;
	font-weight:400;
	text-transform:uppercase;
	margin:0px;
	margin-bottom:40px;
	padding-bottom:15px;
}
.cart_table th {
    color: #333;
    background: #efefef;
	text-transform:uppercase;
	font-weight:500;
	text-align:left;
}
.bg_white{
	background:#FFF;	
}
.text_decoration_no{
	text-decoration:none !important;	
}
.red_txt {
    color: #d00707;
}

/* Media */
@media (max-width: 480px){
.search_area {
    padding:20px 0px 60px;
}
.top_logo_area {
    padding: 30px 0px 0px;
}
.home_tab{
	width:100%;
}
.home_tab > li {
    width:100%;
}
}
@media (max-width: 768px){
.navbar-inverse .navbar-nav > li > a {
    line-height: 30px;
}
.login_bg .login_panel{
	width:100%;
}
.login_bg .register_panel {
	width:100%;
}

}

@media (min-width: 320px) and (max-width: 767px){
.login_separator{
	position:relative;
	width:100%;
	height:35px;
	margin:40px auto 10px;
}
.login_separator_line{
	width:100%;
	max-height:0px;
	min-height:3px;
	background-color:#14aad5;
}
.login_separator_text{
	position:absolute;
	background-color:#14aad5;
	border-radius:100%;
	width:35px;
	height:35px;
	color:#FFF;
	font-weight:600;
	text-align:center;
	line-height:30px;
	top:-45%;
	left:45%;
}
}
@media (min-width: 767px) and (max-width: 992px){
.nav > li > a {
    padding: 10px 10px;
}
.search_panel {
    margin: 100px auto 20px;
}
.mve_name_bg {
	margin-top:200px;
}
.section_topmargin{
	margin-top:200px;
}
}